<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test.Element_Selection"/>
      <class name="Test.Profile_Test"/>
      <class name="Test.Fashion"/>
      <class name="Test.BaseClass"/>
      <class name="Test.Category_Test"/>
      <class name="Test.SocialMedia_Test"/>
      <class name="Test.Test_Search"/>
      <class name="Test.Login_Test"/>
    </classes>
  </test> <!-- Test -->
<listeners>
    <listener class-name="Utilities.listener"/>
</listeners>
</suite> <!-- Suite -->
